header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0%;
    
}

body{
    margin: 0px;
}

main{
    position: relative;
    top: 85px;
    
}


a{
    text-decoration: none;
}

h1{
    font-family: 'Lobster', cursive;
    color:#180F4A;
    font-size:34px;
    width: 50%;
    text-align: left;
    margin-left: 5%;

    
    
}

nav{
    margin-right: 5%;
    display: flex;
    width: 50%;
    height: 80px;
   
}

.botaomenu{
    color:rgb(1, 1, 16);
    border: none;
    background-color: white;
    height: 70px;
    width: 120px;
    font-size: 20px;
    margin-top: 5PX;

}

.botaomenu:hover{
    border-top: solid 3px blue;
    color:violet;
}

.botaomenu2{
    background-color: rgb(8, 8, 59);
    color: white;
    border-radius: 5px;
    border:none;
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-top: 20px;
}

.botaomenu2:hover{
        background-color:violet;
        color: white;
}

main{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}



.section1{
    margin: 0%;
    display: inline-block;
}

.div1{
    float: left;
    width: 50%;
    height: 500px;
}

.div2{
    float: right;
    width: 50%;
    height: 500px;
    
}

.div1>h3{
    font-size: 25px;
    text-align: left;
    letter-spacing: 12px;
    word-spacing:15px;
}

.div1>h2{
    font-size: 80px;
    text-align: left;
    margin-top: -5%;
   
}

.div1>p{
    color: rgb(48, 44, 44);
    font-size: 20x;
    text-align: left;
    margin-top: -10%;
     
}

.botaocontrate{
    background-color:violet;
    color: white;
    border-radius: 5px;
    border:none;
    height: 60px;
    width: 250px;
    font-size: 20px;
    margin-top: 20px;
}

.botaocontrate:hover{
    background-color: rgb(8, 8, 59);
}

.subtitulo{
    text-align: center;
    font-size: 50px;
}

.section2{
    text-align: center;
}

.card{
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(176, 37, 123);
    border-radius: 5%;
    width: 28%;
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;
}

.card:hover{
    background-color: violet;
    border: none;
}

.card>h3{
    font-size: 22px;
}

.card>p{
    font-size: 20px;
    margin-right: 25px;
    margin-left: 25px;
    color: rgb(48, 44, 44);
}


.whatsapp{
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer{
    z-index: 1;
    
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0px;
    margin-top: 10%;
    display: inline-block;
    width: 100%;
    background-color: aqua;
    text-align: center;
    border-top: 3px solid violet;

}

footer>h2{
    color: white;
}

footer>h3{
    color: white;
}